{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>

    <div class='download-list'>
    	<ul id='downloads_list'>
    		{% for file in files %}
    		<li>
    			<div class='itemfile'>
    				<div class='title'>
    					<p class='p_title'>{{ file.filename }}</p>
    				<div>
    				<div class='bio'>
    					<p>{{ file.file_description}}</p>
    				</div>
					<ul class='subdown'>
						<a href="{{ url_for('download', file_id=file.id) }}" target="blank"><span class="glyphicon glyphicon-save" style='margin-left: 35;'></span></a>
						<li style='margin-left: 35;'>{{file.str_time}}</li>
						<li style='margin-left: 35;'>{{file.show_platform}}</li>
					</ul>
    			</div>
    		</li>
    		{% endfor %}
    	</ul>
    </div>
    


{% endblock %}