{% extends "base.html" %}

{% block content %}
		<div class='container'>
			<h1>File Upload</h1>
			<form method='POST' action='/upload' enctype='multipart/form-data' form="upload_form">
				<div class='form-group'>
					<label for='inputFile'>File Upload</label>
					<input type='file' name='inputFile'>
					<div class='upload_container_select' style='float:left'>
						<p>Choose a platform (if required)</p>
						<select name='upload_platform'>
							{% for platform in platforms %}
								{% if platform == 'None' %}
								<option selected="selected">{{platform}}</option>
								{% else %}
								<option>{{platform}}</option>
								{% endif%}
							{% endfor %}
						</select>
					</div>
					<div class='upload_div_description'>
						<p>File description</p>
						<input type='text' name='upload_description'></input>
					</div>
					<div class='upload_container_select'>
						<p>Choose a platform (if required)</p>
						<select name='upload_file_type'>
							{% for file_type in file_types %}
								{% if file_type == 'doc' %}
								<option selected="selected">{{file_type}}</option>
								{% else %}
								<option>{{file_type}}</option>
								{% endif%}
							{% endfor %}
						</select>
					</div>
				</div>
				<br>
				<button type='submit' class='btn btn-default'>Submit</button>
			</form>
		</div>

{% endblock %}